/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 6px;
	height: 100%;
/* 	background: red; */
	margin-top: 6px;
	color:gray;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
/* 	background: #dde; */
	position: relative;
/* 	display: none !important; */
	width: 0 !important;
}

.jspDrag
{
	background: gray;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
/* 	height: 24px; */
	width: 100%;
}

.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}


/* overriding */

#left-scroll-cont .jspVerticalBar {
	left: 0;
	width: 0 !important;
	margin: 0 !important;	
}

#left-scroll-cont .jspArrow {
    margin: 0;
    width: 220px;
    position: absolute !important;
    min-height: 20px !important;
}

#left-scroll-cont .jspArrowUp {
	top: 0;	
	background: url("../images/scroll_up.png") no-repeat;
}

#left-scroll-cont .jspArrowDown {
	bottom: 0;
	background: url("../images/scroll_down.png") no-repeat;	
}

#left-scroll-cont .jspPane {
	margin: 0 !important;
}

#left-scroll-cont .jspContainer, #left-scroll-cont .jspScrollable, #left-scroll-cont .jspPane {
	width: 220px !important;
}