<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
		    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">



	<sec:http auto-config="false" access-denied-page="/home" entry-point-ref="authenticationProcessingFilterEntryPoint">
		<sec:custom-filter position="FORM_LOGIN_FILTER" ref="authenticationProcessingFilter" />
		<sec:custom-filter position="PRE_AUTH_FILTER" ref="nativePreAuthenticationFilter"/>
		
		<sec:intercept-url pattern="/themes/**" filters="none" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<sec:intercept-url pattern="/scripts/**" filters="none" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<sec:intercept-url pattern="/image/**" filters="none" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		
		<sec:intercept-url pattern="/" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<sec:intercept-url pattern="/home*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<sec:intercept-url pattern="/static*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		
		<!-- Social Auth -->
		<sec:intercept-url pattern="/signin*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<sec:intercept-url pattern="/signup*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<sec:intercept-url pattern="/user/register*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		
		<sec:intercept-url pattern="/analytics/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		
		<sec:intercept-url pattern="/publish/mobile*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<sec:intercept-url pattern="/publish/web*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<sec:intercept-url pattern="/publish/mobile_qrcode*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		
		<sec:intercept-url pattern="/project/build/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		
		<sec:intercept-url pattern="/user/home/**" access="IS_AUTHENTICATED_FULLY" />
		
		<sec:intercept-url pattern="/admin/**" access="IS_AUTHENTICATED_FULLY" />
		
		<sec:intercept-url pattern="/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		
		<!-- form login -->
		<!-- 
		<sec:form-login login-page="/home" login-processing-url="/login/authenticate" 
				default-target-url="/user/home" always-use-default-target="false" 
				authentication-failure-url="/home" />
		 -->
		
		<!-- logout -->
		<sec:logout logout-url="/j_spring_security_logout" logout-success-url="/home" />
		
		<!-- remember me -->
		<sec:remember-me key="rememberMeKey" user-service-ref="userService"/>
		
	</sec:http>
	
	
  	<!-- Authentication Manager  -->
	
	<sec:authentication-manager alias="authenticationManager">
		<sec:authentication-provider>
			<sec:user-service>
				<sec:user name="jimi" password="jimispassword" authorities="ROLE_USER, ROLE_ADMIN" />
				<sec:user name="bob" password="bobspassword" authorities="ROLE_USER" />
			</sec:user-service>
		</sec:authentication-provider>

		<!-- DAO Authentication Provider -->
		<sec:authentication-provider ref="daoAuthenticationProvider" />
<!-- 		<sec:authentication-provider ref="inMemoryAuthenticationProvider" /> -->

	</sec:authentication-manager>
	
	
	<!-- PreAuthentication Filter -->
	
	<bean id="nativePreAuthenticationFilter" class="com.stitchemapp.security.impl.NativePreAuthenticationFilter">
		<property name="authenticationProviderFactory" ref="authenticationProviderFactory"/>
	</bean>
	
	
	<!-- FORM LOGIN : Authentication Processing Filter -->
	
	<bean id="authenticationProcessingFilter" class="org.springframework.security.web.authentication.UsernamePasswordAuthenticationFilter">
		<property name="authenticationManager" ref="authenticationManager"/>
	    <property name="filterProcessesUrl" value="/login/authenticate"/>
		<property name="authenticationSuccessHandler" ref="ajaxAuthSuccessHandler" />
		<property name="authenticationFailureHandler" ref="ajaxAuthFailureHandler" />
	</bean>
	
	<bean id="ajaxAuthSuccessHandler" class="com.stitchemapp.security.impl.AjaxAuthenticationSuccessHandler">
	    <property name="defaultTargetUrl" value="/user/home"/>
	</bean>
	
	<bean id="ajaxAuthFailureHandler" class="com.stitchemapp.security.impl.AjaxAuthenticationFailureHandler" />
	
	
	<!-- Authentication Providers and Password Hashing -->
	
	<bean id="daoAuthenticationProvider" class="com.stitchemapp.security.impl.NativeDaoAuthenticationProvider">
		<property name="userDetailsService" ref="userService"/>
		<property name="saltSource" ref="saltSource" />
		<property name="passwordEncoder" ref="passwordEncoder" />
	</bean>
	
    <bean id="userService" name="userAuthenticationProvider" class="com.stitchemapp.security.impl.NativeUserDetailsServiceImpl">
		<property name="genericDao" ref="genericDao" />
		<property name="passwordEncoder" ref="passwordEncoder" />
		<property name="saltSource" ref="saltSource" />
		<property name="mailingService" ref="mailingService" />
  	</bean>
  	
  	<bean id="saltSource" class="org.springframework.security.authentication.dao.ReflectionSaltSource">
		<property name="userPropertyToUse" value="username" />
	</bean>
			
  	<bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.ShaPasswordEncoder">
		<constructor-arg index="0" value="256" />
	</bean>
  	
  	
  	
  	
  	<!-- Exception Translator -->
  	
  	<bean id="exceptionTranslationFilter" class="org.springframework.security.web.access.ExceptionTranslationFilter">
  		<property name="authenticationEntryPoint" ref="authenticationProcessingFilterEntryPoint" />
		<property name="accessDeniedHandler">
			<bean class="org.springframework.security.web.access.AccessDeniedHandlerImpl">
				<property name="errorPage" value="/error.jsp" />
			</bean>
		</property>
	</bean>
	
	<bean id="authenticationProcessingFilterEntryPoint" class="org.springframework.security.web.authentication.AuthenticationProcessingFilterEntryPoint">
		<property name="loginFormUrl" value="/home" />
		<property name="forceHttps" value="false" />
	</bean>
	
	

</beans>