
<li id="<%= elementId %>" title="uploading screen image">
	<div class="page-thumb-image-cont">

		<div class="img-cont">
			<img alt="" src=" ">
			<label class="text"> </label>
			<label class="percent"> </label>
		</div>

		<div class="tooltip-content page-tt-content" style="display: none;">
			<div class="tt-outer">
				<div class="tt-inner">
					<label><%= fileName %></label>
				</div>
			</div>
		</div>

	</div>
</li>
