

/* Pop Up boxes ... */

.pop-up {
	padding: 10px 15px;
/* 	min-width: 300px; */
	min-height: 140px;
	background-color: #FFFFFF;
	overflow: hidden;
}

.pu-header {
	padding: 5px 0 10px 0;
	overflow: hidden;
}

.pu-title {
	color: #999999;
	font-size: 16px;
	font-weight: bold;
	padding: 0px 5px;
}

.pu-body {
	padding: 40px 0 10px 0;
	overflow: hidden;
	position: relative;
}

.pu-body .msg-cont {
	font-size: 13px;
    left: 0;
    min-height: 20px;
    padding: 30px 40px 0;
    position: absolute;
    right: 0;
    top: 0;
    font-weight: bold;
}

.pu-content {
	overflow: hidden;
}

.pu-body label {
	clear: both;
	font-size: 13px;
	font-weight: bold;
	color: #666666;
	display: block;
	margin: 4px 0;
	float: none;
}

.pu-body label.inp-label {
	min-width: 90px;
	text-align: right;
	float: left;
}

.pu-body input {
	float: right;
}

.pu-body li {
	margin: 5px;
	padding: 5px 0; 
	overflow: hidden;
}

.pu-body .no-top-border {
	border-top: none; 
}

.pu-footer {
	overflow: hidden;
}

/* Sign-In Cont */

#sign-in-cont {
	padding: 0;
}

#sign-in-cont .pu-body {
	border-bottom: 1px solid #E5E5E5;
}

#loginForm {
    margin: 20px 40px 5px;
}

#loginForm input {
	display: block;
    float: none;
    margin: 0 auto;
    padding: 5px 0;
    width: 275px;
    
    -webkit-box-shadow: 0 0 0 0 #CCCCCC inset;
	-moz-box-shadow: 0 0 0 0 #CCCCCC inset;
	box-shadow: 0 0 0 0 #CCCCCC inset;
	
	border: 1px solid #CCCCCC;
	border-top-color: #C0B2B0;
}

#username-input {
	-webkit-border-radius: 8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
	
	background: url(images/icon-username.png) no-repeat 5px center #F6F6F6;
	padding-left: 30px !important;
}

#password-input {
	border-top: none !important;	
	
	-webkit-border-radius: 0 0 8px 8px;
	-moz-border-radius: 0 0 8px 8px;
	border-radius: 0 0 8px 8px;
	
	background: url(images/icon-password.png) no-repeat 7px center #F6F6F6;
	padding-left: 30px !important;
}

#signin-input {
	-webkit-box-shadow: 0 0 0 1px #9A9A9A inset !important;
	-moz-box-shadow: 0 0 0 1px #9A9A9A inset !important;
	box-shadow: 0 0 0 1px #9A9A9A inset !important;
	
	margin: 15px 0 0 !important;
	padding: 0 15px;
	width: 307px !important;
	border: 3px solid #CCCCCC !important;
}

#ext-signin {
	background-color: #E4E4E4;
	border-top: 1px solid #FFFFFF;
	height: 50px;
}

#ext-signin li {
	margin: 0;
}

#ext-signin label {
	color: #999999;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    margin: 14px;
}

#ext-signin input[type=submit] {
	height: 50px;
    width: 60px;
}

#ext-signin input[type=submit]:HOVER {
	-webkit-box-shadow: 0 0 2px 2px #999999 inset;
	-moz-box-shadow: 0 0 2px 2px #999999 inset;
	box-shadow: 0 0 2px 2px #999999 inset;
}

#signin-fb {
	background: url("images/fb-dark.png") no-repeat scroll center center transparent;
}

#signin-fb:HOVER {
	background: url("images/fb-light.png") no-repeat scroll center center #AAAAAA;
}

#signin-gg {
	background: url("images/google-dark.png") no-repeat scroll center center transparent;
}

#signin-gg:HOVER {
	background: url("images/google-light.png") no-repeat scroll center center #AAAAAA;
}

#signin-tw {
	background: url("images/twitter-dark.png") no-repeat scroll center center transparent;
}

#signin-tw:HOVER {
	background: url("images/twitter-light.png") no-repeat scroll center center #AAAAAA;
}


#new-project-popup {
	width: 300px;	
}

/* fancybox styles  */

#fancybox-outer {
	background: none;
}

#fancybox-content {

	background: transparent;
	border: 8px solid rgba(0, 0, 0, .5);

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	
	/* 
	-webkit-box-shadow: 0px 0px 12px 4px #777777;
	-moz-box-shadow: 0px 0px 12px 4px #777777;
	box-shadow: 0px 0px 12px 4px #777777;
	 */
	 
	/* Check this */
	overflow: visible;

}

.fancybox-bg {
	background: none !important;
}

/* Specific Styles */

#project-publish-popup {
	min-width: 440px;
}

#project-publish-popup input {
	float: none;
}

#project-publish-popup .custom-radio {
	margin: 5px 8px;
}

#project-publish-popup .inp-box {
	width: 420px;
}

#publish-contacts-cont {
	margin: 15px 0px;
}

#app-users-list {
	border-bottom: 1px solid #EEEEEE;
    margin: 10px 0 !important;
    overflow: hidden;
}

#app-users-list li {
	border-top: 1px solid #CCCCCC;
    overflow: hidden;
    padding: 7px 8px 5px;
}

#app-users-list label {
	min-width: 250px;
	float: left;
	margin: 0 0 3px;
}




/* ToolTips */

.tooltip-content {
	display: none;
	position: absolute;
	z-index: 110;
}

.tt-outer {
	padding: 12px;
	
}

.tt-outer.left-top {
	padding: 4px 12px;
	background: url("images/tt-pointer-left.png") no-repeat scroll left 20px transparent;
}

.tt-outer.right-top {
	padding: 4px 12px;
	background: url("images/tt-pointer-right.png") no-repeat scroll right 20px transparent;
}

.tt-outer.top-right {
	padding: 12px 4px;
	background: url("images/tt-pointer-top.png") no-repeat scroll 250px top transparent;
}

.tt-outer.bottom-right {
	padding: 12px 4px;
	background: url("images/tt-pointer-bottom.png") no-repeat scroll 250px bottom transparent;
}

.tt-inner {
	background-color: #FFFFFF;
	padding: 8px 12px;
	
	color: #000000;
	overflow: hidden;
	border: 3px solid #E2DCDC;
	
	-webkit-box-shadow: 0 0 0 1px #9A9A9A inset;
	-moz-box-shadow: 0 0 0 1px #9A9A9A inset;
	box-shadow: 0 0 0 1px #9A9A9A inset;
	
	position: relative;
}

.tooltip-content .close-tt {
	float: right;
	font-weight: bold;
}

.page-tt-content {
	background: transparent;
	border: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.page-tt-content .tt-outer {
	padding: 0;
}

.page-tt-content .tt-inner {
	height: 192px;
/* 	width: 134px; */
	background: transparent;
	border: none;
	
	-webkit-box-shadow: 0 0 0 0 #9A9A9A inset;
	-moz-box-shadow: 0 0 0 0 #9A9A9A inset;
	box-shadow: 0 0 0 0 #9A9A9A inset;
	
	overflow: hidden;
	padding: 0;
}

.page-tt-content .thumb-details-cont {
	left: 0;
    bottom: 0;
    right: 0;
    
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    color: #FFFFFF;
    font-size: 10px;
    text-align: center;
    height: 16px;
    padding: 4px 0;
}

.page-tt-content .thumb-details-cont label {
	float: none;
}

.page-tt-content .thumb-details-cont a {
	color: #FFFFFF;
}

.page-tt-content .custom-radio,
.page-tt-content .custom-checkbox {
	margin: 0 0 !important;
}

.hs-tt-content {
	min-width: 300px;
}

.supp-img-tt-content {
	width: 300px;
	word-wrap: break-word;
}


