/* Reset */

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, 
header, hgroup, menu, nav, section {
	display: block;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}


/* Generic elements */

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	border: none;
	background-color: transparent;
}

body {
	background-color: #FFFFFF;
	font-family: Sans-Serif, Verdana, Arial;
	font-size: 12px;
	color: #333333;
	line-height: 16px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	color: black;
	font-size: 100%;
}

td {
	padding: 3px 0;
}

img {
	border: medium none;
	vertical-align: middle;
}

ul, ol {
	list-style-type: none;
	list-style: none;
}

ul {
	line-height: 16px;
	padding: 0;
}

li {
	margin: 2px 0;
}

q {
	font-family: Times, "Times New Roman", serif;
	font-style: italic;
}

pre,code, tt, kbd, samp {
	font-family: monospace, "Courier New";
}

code {
	background-color: #F9F9F9;
}

pre {
	background-color: #F9F9F9;
	border: 1px dashed #2F6FAB;
	color: black;
	line-height: 18px;
	padding: 16px;
}

label {
	float: left;
}

a {
	color: #333333;
	text-decoration: none;
	min-height: 16px;
	min-width: 4px;
}

a:hover, a:focus {
	text-decoration: underline;
	cursor: pointer;
}

dl {
	margin-bottom: 8px;
	margin-top: 3px;
}

dd {
	line-height: 24px;
	margin-bottom: 2px;
	margin-left: 32px;
}

sup,sub {
	line-height: 13px;
}

hr {
	color: #DDDDDD;
}

textarea {
	min-width: 200px;
	min-height: 60px;
	border: 1px solid #666666;
	line-height: 16px;
	padding: 2px;
}

input[type=text], input[type=password], input[type=email], select, textarea {
	border: 1px solid #CBCBCB;
	height: 26px;
	line-height: 16px;
	margin: 2px 0;
	width: 280px;
	background-color: #FCFCFC;
	padding: 2px 5px;	
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

select {
	height: 30px;
	padding-top: 6px;
	color: #666666;
}

input[type=file] {
	-webkit-appearance: textfield;
}


input[type=radio], input[type=checkbox] {
/* 	position: absolute;  */
/* 	left: -9999px; */
	float: left;
	margin: 2px 5px;
}

.custom-checkbox, .custom-radio {
	position: relative;
	float: left;
	margin: 2px 0;
	overflow: hidden;
	min-height: 20px;
}

.custom-checkbox input, .custom-radio input {
	position: absolute;
	left: -9999px;
	top: 3px;
	margin: 0;
	z-index: 0;
}

.custom-checkbox label, .custom-radio label {
	cursor: pointer;
    display: block;
    line-height: 20px;
    padding: 0 0 0 28px !important;
    position: relative;
    z-index: 1;
/* 	margin: 0px 24px 0px 0px; */
}

.custom-checkbox label {
	background: url(images/check-off.png) no-repeat left center transparent;
}

/* .custom-checkbox label:HOVER,  */
.custom-checkbox label.checked {
	background: url(images/check-on.png) no-repeat left center transparent;
}

.custom-radio label {
	background: url(images/radio-off.png) no-repeat left center transparent;
}

/* .custom-radio label:HOVER,  */
.custom-radio label.checked {
	background: url(images/radio-on.png) no-repeat left center transparent;
}

.custom-radio label.landing-page-radio {
	background: url(images/icon_landing_page_off.png) no-repeat left center transparent;
	background-size: 20px; 
	padding-left: 22px !important;
}

.custom-radio label.landing-page-radio:HOVER, 
.custom-radio label.checked.landing-page-radio {
	background: url(images/icon_landing_page_on.png) no-repeat left center transparent;
	background-size: 20px; 
	padding-left: 22px !important;
}




/* Place Holder */

::-webkit-input-placeholder {
	font-style: normal;
	color: #666666;
}

:-moz-placeholder {
	font-style: normal;
	color: #666666;
}


/* Font Related */

/* Colors */

.gray-333-text {
	color: #333333 !important;
}

.gray-666-text {
	color: #666666 !important;
}

.gray-999-text {
	color: #999999 !important;
}

.gray-ccc-text {
	color: #CCCCCC !important;
}

/* Sizes and Weights */

.bold {
	font-weight: bold !important;
}

.underline {
	text-decoration: underline;
}

.normal {
	font-weight: normal !important;
}

.italic {
	font-style: italic !important;
}

.text-align-right {
	text-align: right !important;
}


/* Common Elements */

div.clear-float {
	clear: both;
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
}

.clear {
	clear: both;	
}

.float-left {
	float: left !important;
}

.float-right {
	float: right !important;
}

.float-fix {
	overflow: hidden;
}

.no-border {
	border: none !important;	
}

.inline-list {
	overflow: hidden;
}

.inline-list li {
	display: inline-block;
	vertical-align: top;
	float: left;
}

.carousel-list li {
	display: inline-block;
	vertical-align: top;
}

.indent {
	margin: 5px 5px 15px 20px;	
}


/* Icons */

.take-a-tour-icon {
	background: url("images/icon_take_a_tour.png") no-repeat;
	padding: 5px 0 5px 40px;
}

.grt-than-small {
	background: url("images/grt_than_small.png") no-repeat scroll 0 16px transparent;
    display: inline;
    margin: 0 3px;
    padding: 0 8px;	
    float: left;
    height: 30px;
}

.home-icon {
	background: url("images/icon_home.png") no-repeat;
	padding: 8px 0 8px 30px;
}

/* 
.screen-arrow-icon {
	background: url("images/icon_screen_arrow.png") no-repeat;
	padding-left: 26px;
}
 */

.hotspots-icon {
	background: url("images/icon_hotspot.png") no-repeat;
	line-height: 24px;
    padding: 4px 0 4px 30px;
}

.files-icon {
	background: url("images/icon_files.png") no-repeat;
	padding-left: 30px;
}

.collapse-icon {
	background: url("images/icon_collapse.png") no-repeat;
	padding: 4px 8px;
	margin: 0 0 0 6px;
}

.upload-icon {
	
}

.skull-icon-white {
	background: url("images/icon_skull_white.png") no-repeat 0 0 transparent;
	padding: 2px 2px 2px 16px;
}

.close-icon {
	background: url("images/icon_close.png") no-repeat 0 0 transparent;
	padding-left: 20px;
}

.close-icon-white {
	background: url("images/icon_close_white.png") no-repeat 0 0 transparent;
	padding: 2px 2px 2px 16px;
}

.screen-icon {
	background: url("images/icon_screen.png") no-repeat 0 0 transparent;
	padding: 2px 0 0 24px;
}

.delete-icon {
	background: url("images/icon_delete.png") no-repeat 0 0 transparent;
	padding: 2px 0 0 24px;
}

.plus-icon {
	background: url("images/icon_plus.png") no-repeat 0 2px transparent;
	padding: 0 0 0 16px;
}

.bin-icon {
	background: url("images/icon_bin.png") no-repeat 0 3px transparent;
	padding: 0 0 0 16px;
}

.edit-icon {
	background: url("images/icon_pencil.png") no-repeat 0 0 transparent;
	padding: 0 0 0 16px;
}

.delete-page-icon {
	background: url("images/icon_delete_page_off.png") no-repeat 0 0 transparent;
	padding: 4px 8px;
}

.delete-page-icon:HOVER {
	background: url("images/icon_delete_page_on.png") no-repeat 0 0 transparent;
}


/* Form Elements */

input.long {
	width: 360px !important;
}

input.short {
	width: 180px !important;
}

input.shortest {
	width: 80px !important;
}



/* Buttons */

.btn {
	color: #666666;
	border: 3px solid #E2DCDC;
    padding: 5px 12px 7px;
    font-size: 13px;
    text-align: center;
    width: auto;
    font-weight: bold;
	margin: 2px;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-box-shadow: 0 0 0 1px #9A9A9A inset;
	-moz-box-shadow: 0 0 0 1px #9A9A9A inset;
	box-shadow: 0 0 0 1px #9A9A9A inset;
}

.btn:HOVER {
	text-decoration: none;
}

.btn-yellow {
	color: #333333;
	border-color: #C7C7C7;
	background-color: #F7FF5C;
	
	-webkit-box-shadow: 0 0 0 1px #6F6F6F inset;
	-moz-box-shadow: 0 0 0 1px #6F6F6F inset;
	box-shadow: 0 0 0 1px #6F6F6F inset;
}

.btn-cont {
	float: right;
	padding: 5px;	
}

/* BackGrouds */

.yellow-bg {
	background-color: #F7FF5C;
}


/* Margins & Paddings */

.margin-5px {
	margin: 5px;	
}

.no-margin {
	margin: 0 !important;
}

.no-padding {
	padding: 0 !important;
}


/* Positions */

.pos-rel {
	position: relative;
}

.pos-abs {
	position: absolute;	
}


/* Home page */

.pop-ups-cont {
	display: none;
}

#body-cont {
	margin: 0 50px;
	min-width: 960px;
	max-width: 1260px;
	padding-top: 20px;
}

#top-cont {
	margin: 5px 0;
    font-size: 18px;
    font-weight: bold;
    min-height: 40px;
    line-height: 30px;
    overflow: hidden;
    border-bottom: 1px dotted #333333;
    border-top: 1px dotted #333333;
}

#logo-cont {
	float: left;
	margin: 0 5px;
	font-family: ubuntu, helvetica, Sans-Serif, Verdana, Arial;	
}

#logo-cont label.title {
	color: #969191;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 42px;
}

#logo-cont a, #logo-cont a:HOVER {
	color: #969191;
	text-decoration: none;
}

#top-nav-cont {
	float: right;
	color: #333333;
	font-size: 13px;
	font-weight: bold;
	margin: 5px 0 0;
}

#top-nav-list li {
	margin: 10px;	
}

#search-cont {

}

#search-header {
	font-size: 22px;
	font-weight: bold;
	line-height: 30px;
	height: 42px;
	border-top: 1px dotted #333333;
	padding-top: 2px;
}

#search-header ul {
	line-height: 40px;
}

#search-header li {
	margin: 2px 10px;
}

#main-search-box {
	background: url("images/icon_search.png")  no-repeat scroll 0 0 transparent;
	padding-left: 40px;
	margin-left: 3px;
	border: none;
	width: 300px;
	color: #999999;
	
    border: medium none;
    font-size: 22px;
    height: 32px;
    line-height: 26px;
	
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	
	-webkit-box-shadow: 0 0 0 0;
	-moz-box-shadow: 0 0 0 0;
	box-shadow: 0 0 0 0;
	
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
}

#search-results-cont {
	background: white;
}


#main-cont {
	margin: 8px 5px;
	padding: 0 0 5px 0;
	position: relative;
	padding: 10px 0 80px;
}

#interactions-list li {
	margin: 8px 15px 25px;
	width: 340px;
	height: 560px;
	padding: 0 5px;
}

#interactions-list a.thumb {
    border: 10px solid #333333;
    display: block;
    width: 320px;
    height: 480px;
    overflow: hidden;

    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#interactions-list img {
	background: url("images/icon_loading.gif") no-repeat scroll center center transparent;
	width: 320px;
}

#interactions-list div {

}

#interactions-list h2 {
	font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    margin: 10px;
    text-align: center;
    width: 320px;
}

#get-started-box {
	color: #999999;
}

#get-started-box div {
    border: 10px solid #CCCCCC;
    height: 450px;
    padding: 15px;
    width: 290px;
    
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#get-started-box label {
	display: block;
	clear: both;
	float: none;
	color: #666666;
	font-size: 13px;
	font-weight: bold;
	margin: 5px 0;
}

#get-started-box label.title {
	color: #333333;
    font-size: 24px;
    margin: 10px 0;
    line-height: 24px;
}

#get-started-box li {
	margin: 8px 0;
	height: auto;
	width: auto;
	padding: 0;
}


#new-pattern-submit-btn {
	background: url("images/getStarted.png") no-repeat scroll center center transparent;
	height: 70px;
    margin: 15px 0;
    width: 293px;
    cursor: pointer;
}

input.error {
	border: 1px solid #FF0000;
	
	-webkit-box-shadow: 0 0 4px -1px #FF0000 inset;
	-moz-box-shadow: 0 0 4px -1px #FF0000 inset;
	box-shadow: 0 0 4px -1px #FF0000 inset;
}



#info-cont {
	position: absolute;
    bottom: 25px;
    left: -310px;
    top: 25px;
    
    background-color: #FFFFFF;
    padding: 20px 15px;
    width: 270px;
    
    border-radius: 5px 0px 0px 5px; 
	-moz-border-radius: 5px 0px 0px 5px; 
	-webkit-border-radius: 5px 0px 0px 5px;
	
	-webkit-box-shadow: 0px 0px 12px 4px #777777;
	-moz-box-shadow: 0px 0px 12px 4px #777777;
	box-shadow: 0px 0px 12px 4px #777777;
}

#project-info-list li {
	float: left;
	clear: both;
	padding: 5px 0;
	border-top: 1px dotted #CCCCCC;
	width: 100%;
	color: #999999;
}

.pro-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    color: #333333;
}

#project-info-list .name {
	color: #333333;
	min-width: 40%;
}

#qr-code-cont {
	border-right: 1px dashed #CCCCCC;
	width: 180px;
}

#QRcode-img {
	clear: both;
	margin: 0px auto;
	display: block;
}

#comments-cont {
	position: absolute;
	top: 25px;
	bottom: 25px;
	right: -310px;
	
	background-color: #FFFFFF;
    padding: 20px 15px;
    width: 270px;
    
	border-radius: 0px 5px 5px 0px; 
	-moz-border-radius: 0px 5px 5px 0px; 
	-webkit-border-radius: 0px 5px 5px 0px;
	
	-webkit-box-shadow: 0px 0px 12px 4px #777777;
	-moz-box-shadow: 0px 0px 12px 4px #777777;
	box-shadow: 0px 0px 12px 4px #777777;
}

#project-comments-list li {
    border-bottom: 1px solid #EEEEEE;
    clear: both;
    float: left;
    margin: 0;
    padding: 8px 0;
    width: 100%;
}

.user-img-thumb {
	margin: 2px 8px 2px 0;
	float: left;
}

#project-comments-list .comment-text {
	float: left;
	width: 88%;
}

.no-top-border {
	border-top: none !important;
}



/* User Home & Profile */

.user-thumb-cont {
	max-width: 200px;
	max-height: 250px;
	padding: 6px;
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
}

.user-thumb {
	max-width: 80px;
	max-height: 80px;
}

#user-profile-cont {
    margin: 15px;
}

#user-profile-cont ul {
    margin: 0 20px;
}

#user-profile-cont li {
	overflow: hidden;
	font-size: 12px;
	padding: 2px;
	line-height: 16px;
	color: #666666;
}

#user-profile-cont label {
	min-width: 150px;
}

#user-interactions-list {
	
}

#user-interactions-list li {
	border: 1px solid #CCCCCC;
    display: inline-block;
    float: left;
    height: 270px;
    margin: 10px 20px;
    overflow: hidden;
    padding: 10px 15px;
    width: 480px;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#user-interactions-list a.thumb {
    border: 5px solid #666666;
    display: block;
    float: left;
    height: 240px;
    margin: 10px;
    overflow: hidden;
    width: 160px;
        
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#user-interactions-list img {
	background: url("images/icon_loading.gif") no-repeat scroll center center transparent;
	width: 160px;
}

#user-interactions-list div.img-cont {
	float: left;
}

#user-interactions-list div.details-cont {
    color: #333333;
    float: left;
    padding: 10px;
    width: 260px;
    height: 200px;
    overflow: hidden;
}

#user-interactions-list div.options-cont {
    border-top: 1px dashed #CCCCCC;
    float: left;
    margin: 0 10px;
    padding: 10px;
    width: 240px;
}

#user-interactions-list h2 {
    color: #666666;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    margin: 5px 0 10px;
}

#user-interactions-list .proj-desc {
    color: #999999;
    line-height: 16px;
    margin: 5px 0;
}

#user-interactions-list label {
    display: block;
    float: none;
    font-size: 13px;
    line-height: 16px;
    margin: 5px 0;
}


/* Build Page */

#main-title-cont {
	float: left;
	margin: 0 5px;
	min-width: 500px;	
}

#main-title-cont label.title {
	color: #969191;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 42px;
    float: none;
}

#top-btn-list {
	float: right;
	color: #333333;
	font-size: 13px;
	font-weight: bold;
	line-height: 36px;
}



.project-settings-cont {
	overflow: hidden;
	margin: 0 15px;
	float: left;
}

.project-settings-cont {
	
}

.project-settings-cont li {
	overflow: hidden;
	margin: 0;
	padding: 2px 4px;
}

.project-settings-cont label {
	font-weight: bold;
    margin: 5px 0px;
    padding: 2px 0;
    float: left;
}

.project-settings-cont input, 
.project-settings-cont textarea {
	width: 300px;
	float: left;
	clear: both;
}

.project-settings-cont select {
	width: 310px;
}

#proj-img-cont {
	width: 340px;
	text-align: center;
}

#proj-img-cont img {
	margin: 0 auto;
}

#carousel-cont {
	border-top: 1px dotted #333333;
	min-height: 205px;
	min-width: 960px !important;
	overflow: hidden;
	position: relative;
	margin: 0;
	padding: 0;
}

#no-items-cont {
	text-align: center;
	vertical-align: middle;
	width: 250px;
	margin: 60px auto;
	font-size: 24px;
    font-weight: bold;
	background: transparent;
	line-height: 24px;
}

#no-items-cont label {
	clear: both;
    color: #999999;
    display: block;
    float: right;
    font-size: 14px;
    line-height: 20px;
}

#no-items-cont .plus-icon {
	background: url("images/icon_plus.png") no-repeat scroll 0 6px transparent;
	padding: 0 0 0 24px;
}

#add-pages-cont {
	font-size: 19px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
	vertical-align: middle;
	background: transparent !important;
}

#build-nav-cont {
	border-top: 1px dotted #333333;
	border-bottom: 1px solid #333333;
	font-size: 16px;
	line-height: 20px; 
	font-weight: bold;
	min-height: 39px;
	background-color: #EFEFEF;
	position: relative;
}

#page-options-cont {
    margin: 3px 0;
    padding: 0 8px;
}

#page-options-list li {
	margin: 8px 6px;
	font-size: 12px;	
}

#page-options-list li.separator {
	margin: 8px 2px;
}

#page-title-cont {
	padding: 0px 15px;
	margin: 2px 0;
}

#page-title-cont label.page-title {
	margin: 4px;
}

#page-title-cont a.page-title {
	float: left;
    margin: 6px 4px;
}

#edit-page-title-btn {
	margin: 8px 0 !important;
	float: left;
	clear: both;
}

.form-cont {
	margin: 2px 0;
}

#notification-cont {
	margin: 4px auto;
	width: 600px;
	padding: 1px;
	font-size: 13px;
	font-weight: bold;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	opacity: 0.8;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#notification-box {
	padding: 4px 8px 3px;
	
	text-align: center;
	overflow: hidden;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.error {
	color: red !important;
}

.alert {
	color: yellow !important;
}

.status {
	color: green !important;
}



#main-cont .title {
	color: #999999;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 3px;
	line-height: 36px;
	clear: both;
}

#main-cont .sub-title {
	font-size: 14px;
	margin-bottom: 2px;
	line-height: 16px;
}

#main-cont ul {
	clear: both;
	margin: 5px 0;
}

#build-cont {
	border: 10px solid #333333;
    min-height: 480px;
    min-width: 320px;
    position: relative;
    margin: 0 10px;
	float: left;
    
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#screen-imgs-cont {
	height: 480px;
    width: 320px;
    overflow: hidden;
}

#canvasElem {
	cursor : crosshair;
}

#canvas-screen {
	
}

#canvas-header {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}

#canvas-footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
}

#canvas-left-nav {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
}

#canvas-right-nav {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
}

#hotspots-cont {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

#canvas-cont {
	position: relative;
}

.div-hotspot {
	position: absolute;
	background-color: rgba(255, 255, 51, 0.5);
	border: 1px dotted #000000;
}

.div-hotspot .bin-icon {
	padding-bottom: 2px;
}


#canvas-cont .selected {
	background-color: rgba(8, 130, 11, 0.5) !important;
	border: 1px dashed #000000;
}

#canvas-cont .editable {
	background-color: rgba(130, 8, 11, 0.5) !important;
	border: 1px dashed #000000;
}

#hs-div-undefined, #hs-div-undefined.selected {
	z-index: 100;
	background-color: rgba(130, 8, 11, 0.5) !important;
}


#build-left-cont, #build-right-cont {
	float: left;
	min-width: 80px;
	position: relative;
	margin: 10px;
}

#page-header-cont {
	position: absolute;
	top: 10px;
	right: 0;
}

#page-footer-cont {
	position: absolute;
	bottom: 10px;
	right: 0;
}

#page-links-list {
	float: left;
}

#page-links-list li {
	overflow: hidden;
	display: block;
	clear: both;
	line-height: 20px;
	color: #666666;
	border-top: 1px solid #EEEEEE;
	min-width: 200px;
	margin: 0;
	padding: 2px 4px;
}

#page-links-list label {
	font-weight: bold;
	cursor: pointer;	
}



/* Build information Section */

#build-info-cont {
	min-width: 320px;
	overflow: hidden;
}

#build-info-cont a {
	line-height: 16px;
	font-size: 13px;
	font-weight: bold;
	display: block;
	margin: 4px 0;
	float: left;
	clear: both;
}

#build-info-cont a:HOVER {
	text-decoration: none;
}

#build-info-cont li {
	min-width: 300px;
}


/* Build Options Section */

#build-options-cont {
	border-left: 1px solid #CCCCCC;
	background: url("images/bg_screen_options.png") repeat-y scroll 1px 0 transparent;
	padding: 0 0 10px 18px;
	min-width: 330px;
	min-height: 540px;	
}


/* Screen information Section */

#screen-info-list {

}

#screen-info-list li {
	border-bottom: 1px solid #CCCCCC;
    clear: both;
    height: 16px;
    overflow: hidden;
    padding: 2px 10px 5px;
}

#screen-info-list label {
	min-width: 135px;
	text-align: right;
}

#screen-info-list label.key {
	color: #CCCCCC;
	text-align: left;
}


/* Screen Options Section */

#screen-opts-list {

}

#screen-opts-list li {
	overflow: hidden;
	margin-bottom: 4px;
}

#screen-opts-list label {
	padding: 2px;
	font-size: 13px;
	font-weight: bold;
}

#screen-opts-list a {
	clear: both;
	float: left;
	margin: 5px;	
}

#screen-opts-list div.indent {
	margin: 5px 0 0 20px;
	float: left;
	clear: both;
	min-width: 290px;
}

.select-cont {
	padding-bottom: 5px;
	border-bottom: 1px dotted #CCCCCC;
}

.supporting-images-list {
	margin: 5px !important;
	overflow: hidden;
	clear: both;
}

.supporting-images-list li {
	border-bottom: 1px solid #CCCCCC;
    color: #666666;
    margin: 0;
    overflow: hidden;
    padding: 4px 0 4px 4px;
}

.supporting-images-list li a.supp-img-label {
	float: left;
    margin: 2px 4px;
}

.supporting-images-list li.selected {
	background: none repeat scroll 0 0 #EEEEEE;
}

.supporting-images-list li.selected a.supp-img-label {
	font-weight: bold;
}

.delete-support-image-form {
	margin: 4px 0 4px 15px;
	float: right;
}

.upload-supp-imgs-btn {
	float: left;
	clear: both;
	margin: 5px;
	font-weight: bold;
}


#screen-opts-list .supporting-images-list li {
	margin: 0;
	padding: 4px 0;
}

#screen-opts-list .supporting-images-list label {
	font-weight: normal;
}

#screen-opts-list .supporting-images-list a {
	float: right;
	clear: none;
	margin: 0;
}


/* Hotspots information Section */

#page-hotspots-list li {
	overflow: hidden;
	border-bottom: 1px solid #CCCCCC;
	padding-left: 20px;
	margin: 0;
	padding: 2px 4px;
}

#page-hotspots-list label {
	margin: 5px;
	cursor: pointer;  
}


#page-hotspots-list li.selected {
	font-weight: bold;
	background-color: #EFEFEF;
}

#page-hotspots-list a {
	clear: none;
}

.hotspot-events-cont {
	float: left;
	clear: both;
}

.hotspot-events-list {
	font-size: 11px;
    margin: 0 15px 0 20px !important;
}

.hotspot-events-list li {
	min-width: 240px !important;
}

.hotspot-events-list label {
	font-weight: normal;
}



/* Hotspots Options Section */

#hotspots-opts li {
	overflow: hidden;
	border-bottom: 1px solid #CCCCCC;
	min-width: 280px;
}

#hotspot-events-list li {
/* 	max-width: 330px; */
}

#hotspot-events-list label {
	margin: 5px;
	padding: 5px;
}

#edit-events-list {
	margin: 0 !important;	
}

#edit-events-list input, #edit-events-list textarea {
	width: 300px;
}



.new-event-div {
	border-bottom: 1px dotted #CCCCCC;
/* 	padding: 4px 0 0 20px; */
	overflow: hidden;	
	margin: 0 5px;
}

.new-event-div a.bin-icon {
	margin-top: 5px;	
}

.new-event-list {
	float: left;
	clear: none !important;
}

.new-event-list li {
	border-bottom: none !important;
	overflow: hidden;
	margin: 0;
}

.new-event-list label {
	margin: 0 5px;
	text-align: right;
	float: left;
	color: #777777;
}

.new-event-list input, .new-event-list select  {
/* 	width: 190px !important; */
	width: 165px !important;
	float: right !important;
	clear: none !important;
}

.new-event-list select {
	background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #333333;
    font-weight: bold;
    height: 24px;
    margin: 0;
    padding-top: 2px;
    
    -webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	
	-webkit-box-shadow: 0 0 0 0 #FFFFFF inset;
	-moz-box-shadow: 0 0 0 0 #FFFFFF inset;
	box-shadow: 0 0 0 0 #FFFFFF inset;
}

.new-event-list select option {
	padding: 2px 4px;
	font-weight: normal;
}



/* Project Preview */

#project-preview-popup {
	padding: 0;
	min-width: 320px;
}

#preview-cont {
	width: 320px;
	height: 480px;
	background: url("images/icon_loading.gif") no-repeat scroll center center transparent;
}

.IPhone #preview-cont {
	width: 320px;
	height: 480px;
}

.IPad.vertical #preview-cont {
	width: 420px;
	height: 560px;
}

.IPad.horizontal #preview-cont {
	width: 640px;
	height: 480px;
}

.AndroidMobile #preview-cont {
	width: 300px;
	height: 500px;
}

.AndroidTab.vertical #preview-cont {
	width: 350px;
	height: 560px;
}

.AndroidTab.horizontal #preview-cont {
	width: 720px;
	height: 450px;
}

.Webapp.vertical #preview-cont, .Webapp.horizontal #preview-cont {
	width: 720px;
	height: 540px;
}

#preview-cont iframe {
	width: 100%;
	height: 100%;
	overflow: hidden;
}



/* Project View */

#main-cont #preview-cont {
	margin: 20px 50px 20px 20px;
	float: left;
}

.border-frame {
	border: 10px solid #333333;
    
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#project-info-cont {
	width: 58%;
	float: left;
	margin: 20px 0 5px;
	padding: 5px 0;
}

.IPad.horizontal #project-info-cont, 
.AndroidTab.horizontal #project-info-cont {
	width: 24%;
}

#project-info-cont table td {
	vertical-align: middle;
}

#project-info-cont ul {
	margin: 0;
}

#project-info-cont li {
	overflow: hidden;
	margin: 0;
	padding: 5px 20px;

}

#project-info-cont li div {

}

#project-info-cont label {
	color: #333333;
	float: left;
}

#project-info-cont p {
	margin: 4px 0;
	float: left;
	clear: both;
	color: #999999;
}

#project-meta-cont {
	border-top: 1px dashed #CCCCCC;
    float: left;
    margin: 10px 0;
    padding: 25px 30px 5px;
    width: 58%;
}

.IPad.horizontal #project-meta-cont, 
.AndroidTab.horizontal #project-meta-cont {
	width: 24%;
}





